[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
requests = "*"
redis = "*"
celery = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
